.container {
  max-width: 420px;
  margin: 50px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.balance {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
button {
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background: #43a047;
}

/* SUMMARY CARDS */
.summary {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.summary div {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.income-box {
  background: #e8f5e9;
  color: green;
}

.expense-box {
  background: #fdecea;
  color: red;
}

/* TRANSACTION LIST */
.list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 5px solid;
}

.list li.income {
  border-color: green;
}

.list li.expense {
  border-color: red;
}

.delete-btn {
  background: red;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background: #eef2f5;
}